name: Build and test Simple Sample TypeScript

on:
  # run it on push to the default repository branch
  push:
    branches: [main]
    paths:
      - "samples/simple-ts/**"
      - "./.github/workflows/build_and_test_sample_ts.yml"

  # run it during pull request
  pull_request:
    paths:
      - "samples/simple-ts/**"
      - "./.github/workflows/build_and_test_sample_ts.yml"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    working-directory: samples/simple-ts

jobs:
  build-and-test-code:
    name: Build sample code
    # use system defined below in the tests matrix
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repo
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ./samples/simple-ts/.nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build TS
        run: npm run build:ts

      - name: Run linting (ESlint and Prettier)
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test
